@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    animation: fadeIn 300ms ease-in-out;
}

button:hover {
  scale: 1.05;
}
.ccp:hover {
  background: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -50px;
  }
}

.fade-in-button {
  animation: fadeIn 300ms ease-in-out;
}

.fade-out-button {
  animation: fadeOut 300ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.responzivecol,
.responzivecol22,
.ih {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .sfc {
    width: 100%;
  }

  .mintacont {
    width: 100%;
  }
  .responzivecol {
    width: 100%;
  }
  .responzivecol22 {
    display: flex;
    flex-direction: row;
  }
}

/* @media screen and  (max-width: 800px) {
    .sfc{
      width: 100%;
    }
    .part{
      height: 100px;
    }
    .labell{
      transform: rotate(90deg);
    }
    .mintacont{
      width: 100%;
    }
    .responzivecol{
      width: 100%
    }
    .responzivecol22{
      display:flex;
      flex-direction: row;
    }
    
  } */
@media screen and (min-width: 501px) and (max-width: 700px) {
  .ih {
    padding: 0px;
    font-size: 14px;
  }
  .sfc {
    width: 100%;
  }
  .part {
    height: 100px;
  }
  .labell {
    transform: rotate(90deg);
  }
  .mintacont {
    width: 100%;
  }
  .responzivecol {
    width: 100%;
  }
  .responzivecol22 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .ih {
    padding: 0px;
    font-size: 10px;
  }
  .sfc {
    width: 100%;
  }
  .part {
    height: 100px;
  }
  .labell {
    transform: rotate(90deg);
  }
  .mintacont {
    width: 100%;
  }
  .responzivecol {
    width: 100%;
  }
  .responzivecol22 {
    display: flex;
    flex-direction: column;
  }
  .rmb {
    width: 30px;
    font-size: 5px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;
    overflow: hidden;
    text-shadow: 0px 0px 1px white;
    font: extrabold;
  }
  .krf {
    font-size: 12px;
  }
}
